<div class="margin">
    <ul class="info nav nav-pills nav-stacked" id="profile-accordion">
        <li class="panel">
            <a href="#profile-element" data-parent="#profile-accordion" data-toggle="collapse"><span class="glyphicon glyphicon-chevron-down pull-right"></span>Logged as Guest <sup>WRIO</sup></a>
            <div class="in" id="profile-element">
                <div class="media thumbnail">
                    <div class="col-xs-12 col-md-6 pull-right">
                                        <span itemscope itemtype="http://schema.org/ImageObject">
                                            <img itemprop="thumbnail" src="img/no-photo-200x200.png" class="pull-left">
                                        </span>
                        <ul class="details">
                            <li>Registered: 22 Jun 2013</li>
                            <li>Rating: 244</li>
                            <li>Followers: 1,634</li>
                            <li>Posts: 2</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <p>
                            Информация публичного профайла доступна любому, даже незарегистрированным пользователям. Если вы хотите оставаться анонимным, просто не заполняйте его.
                        </p>
                        <ul class="actions">
                            <li><a href="#"><span class="glyphicon glyphicon-edit"></span>Edit</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-share"></span>Share</a></li>
                            <li><a href="wrio-account-edit.htm"><span class="glyphicon glyphicon-arrow-up"></span>Upgrade guest account for free</a> <span class="label label-warning">30 days left</span></li>
                        </ul>
                        <ul class="actions">
                            <li><a href="#"><span class="glyphicon glyphicon-user"></span>Already have an account?</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <ul class="breadcrumb" itemprop="breadcrumb">
        <li class="active">Read</li>
        <li><a href="#">Edit</a></li>
    </ul>
    <main itemprop="mainContentOfPage">
        <div data-page-content="" data-data-type="{{vm.datatype}}" data-entity="vm.ld"></div>
        <footer>
            <ul class="breadcrumb">
                <li class="active">Author</li>
            </ul>
            <article itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                <div class="media thumbnail">
                    <div class="col-xs-12 col-md-6 pull-right">
                                        <span itemscope itemtype="http://schema.org/ImageObject">
                                            <img itemprop="thumbnail" src="img/no-photo-200x200.png" class="pull-left">
                                        </span>
                        <ul class="details">
                            <li>Name: <span itemprop="name"><span itemprop="givenName">Vasya</span> <span itemprop="familyName">Pupkin</span></span></li>
                            <li>Registered: <time datetime="2013-01-22">22 January 2013</time></li>
                            <li>Rating: 244</li>
                            <li>Posts: 1,634</li>
                            <li>Followers: 1,634</li>
                            <li>Hub: <a href="http://vasya-pupkin.webrunes.com" itemprop="url">alexey-anshakov.webrunes.com</a></li>
                            <li>Profile: <a href="http://webrunes.com/person/alexey-anshakov" itemprop="sameAs" rel="author">webrunes.com/person/alexey-anshakov</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <p>
                            <span itemprop="description">Описание пользователя. Disclaimer: We start a series of stories describing various issues and problems that are related for the most part to the Internet, and our vision of possible ways to solve them. Those will often be followed by previews of projects mentioned in the stories. Keep in mind: some of them might change, some will remain just our fantasy; at this moment we are a small team, but with a great desire to change this world for the better or at least a little bit.</span>
                        </p>
                        <ul class="actions">
                            <li><a href="#"><span class="glyphicon glyphicon-plus"></span>Add</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-share"></span>Share</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-envelope"></span>Send message</a></li>
                        </ul>
                    </div>
                </div>
            </article>
        </footer>
    </main>
</div>