<div class="sidebar-margin">
    <ul class="info nav nav-pills nav-stacked" id="ticket-accordion">
        <li class="panel">
            <a href="#ticket-element" data-parent="#ticket-accordion" data-toggle="collapse"><span class="glyphicon glyphicon-chevron-down pull-right"></span>The story of the cat</a>
            <div class="in" id="ticket-element">
                <aside>
                    <div class="media thumbnail">
                        <div class="col-xs-12 pull-right">
                            <img src="img/no-photo-200x200.png" class="pull-left"><ul class="details">
                            <li>Language: en-EN</li>
                            <li>Author: Alexey Anshakov</li>
                            <li>Published: May 8, 2014 · 7:30pm</li>
                            <li>Last modified: July 17, 2014 · 9:55am</li>
                            <li>Read time: 4 minute(s)</li>
                            <li>Views: 1,634</li>
                            <li>Comments: 1,634</li>
                        </ul>
                        </div>
                        <div class="col-xs-12">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                            </p>
                        </div>
                    </div>
                </aside>
            </div>
        </li>
    </ul>
    <div class="margin-bottom">
        <button type="button" class="btn btn-default btn-block"><span class="glyphicon glyphicon-share"></span>Share</button>
        <button type="button" class="btn btn-default btn-block"><span class="glyphicon glyphicon-remove"></span>Close</button>
    </div>
</div>